# See https://gist.github.com/oanhnn/80a89405ab9023894df7

# Work GitHub account (default):
Host github.com
    Hostname github.com
    IdentityFile ~/.ssh/chall-incyte_id_rsa
    IdentitiesOnly yes

# Personal GitHub account:
Host github-revainisdead
    Hostname github.com
    IdentityFile ~/.ssh/revainisdead_id_rsa
    IdentitiesOnly yes
